<section data-ng-controller="LandController">
    <div class="page-header">
        <h1>Tilføj land</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="landeNavn">Lande navn:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="landeNavn" id="landeNavn" class="form-control" placeholder="landeNavn" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Region">Region:</label>
                    <div class="controls">
                        <textarea data-ng-model="Region" id="Region" class="form-control" placeholder="Region" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>